<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="1.9.71" targetFramework="net40" />
  <package id="MonoGame" version="3.2.2" targetFramework="net40" />
  <package id="MonoGame.Binaries" version="3.2.0" targetFramework="net40" />
  <package id="OpenTK" version="1.1.2225.0" targetFramework="net40" />
</packages>